<h2>Add new Pokemon</h2>

<form action="/pokemon/new" method="post">
  <lable>Name:</label>
  <input name="pokemon[name]">

  <label>Type:</label>
  <input name="pokemon[poke_type]">

  <label>CP:</label>
  <input name="pokemon[cp]">

  <label>URL:</label>
  <input name="pokemon[img_url]">

  <input type="submit" value="Create">
</form>
